#container{
    margin-left: 400px;
    border: 1px solid black;
    margin-top: 20px;
    width: 400px;
    height: 510px;
    background-color: rgba(128, 128, 128, 0.188);
}
body{
    background-color: white;
}
p{
   margin-left: 20px;
   
}
input{
    margin-left: 20px;
    width: 80%;
    height: 25px;
    display: block;
    
}
h1{
    margin-left: 140px;
}
button{
    margin-top: 20px;
    margin-left: 80px;
    width: 50%;
}
span{
    color:red;
    margin-left: 20px;
    font-size:13px;
}
